venv
/DeepLearningAndrewNg/CNN/week2/ResNets/ResNet50.h5
/DeepLearningAndrewNg/CNN/week3/model_data/yolo.h5
/DeepLearningAndrewNg/CNN/week4/NeuralStyleTransfer/pretrained-model/imagenet-vgg-verydeep-19.mat